absl-py
altair
anyio
argcomplete
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
backoff
bcrypt
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
composer
contourpy
coolname
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
distlib
executing
fastjsonschema
filelock
Flask
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
fqdn
fsspec
gast
gitdb
GitPython
google-pasta
gql
graphql-core
greenlet
grpcio
gunicorn
h11
h5py
httpcore
httpx
idna
importlib-metadata
intel-openmp
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
libclang
lightning-utilities
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mkl
ml-dtypes
mosaicml-cli
mpmath
multidict
mysql-connector-python
mysqlclient
namex
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
opencv-python
opt-einsum
optree
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
plotly
prometheus_client
prompt-toolkit
protobuf
psutil
pure-eval
py-cpuinfo
pyarrow
pycparser
pydeck
Pygments
pyparsing
python-dateutil
python-json-logger
pytorch-ranger
pytz
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
questionary
referencing
regex
requests
retrying
rfc3339-validator
rfc3986-validator
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
seaborn
Send2Trash
setuptools
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
streamlit
sympy
tabulate
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
terminado
threadpoolctl
tinycss2
toml
toolz
torch
torch-optimizer
torchmetrics
torchvision
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
validators
virtualenv
watchdog
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
wheel
widgetsnbextension
wordcloud
wrapt
WTForms
xgboost
yarl
zipp
